# Gradle
.gradle/
build/
**/build/
bin/
**/bin/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# App data
data/
data/exports/
!core-data/src/test/
!core-data/src/test/**

# OS
.DS_Store
Thumbs.db

# Misc
*.log
