name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - uses: gradle/actions/setup-gradle@v4
      - name: Build
        shell: bash
        run: |
          ./gradlew --version
          ./gradlew clean lintAll test :app-desktop:packageDistribution
